{
  "presets": [
    ["@babel/preset-env", {"targets": {"node": "current"}}],
    "@babel/preset-typescript",
    "@babel/preset-react"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          // "@Actions": "./src/Actions",
          "@components": "./src/components",
          "@contexts": "./src/app/contexts",
          "@definitions": "./src/definitions",
          "@graphql": "./src/graphql",
          // "@Interfaces": "./src/Interfaces",
          "@pages": "./src/components/organisms/pages",
          // "@Reducers": "./src/Redux/Reducers",
          // "@Redux": "./src/Redux",
          // "@Services": "./src/Services",
          // "@Server": "./server",
          // "@Static": "./public/static",
          "@styled": "./src/styled"
        }
      }
    ],
    [
      "babel-plugin-styled-components",
      {
        "ssr": true
      }
    ]
  ]
}
