@use 'sass:meta';
html.theme-default {
  $primary-color:#F48421 !default;
  $body-background:#fff !default;
  @include meta.load-css('~antd/dist/antd.css', $with: null);
}

html:not(.theme-default) {
  @include meta.load-css('~antd/dist/antd.dark.css', $with: null);
  $primary-color:red !default;
  $body-background:black !default;
}

@import './assets/tailwind.css';
@import './assets/styles.css';